<!-- BANNER -->
<div class="employment-banner row hidden-xs">
  <div class="layer">
    <p class="banner-text">Join our Dog-Alicious team</p>
  </div>
</div>

<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="row text-center col-sm-12">
      <h3>Employment</h3>
      <p>Do you dream of puppies running through fields? Do you live an active lifestyle and agree that NOTHING beats the fresh air of the Chicago summer? Have you been called a dog whisperer by your peers? If this sounds like you, then we want you are on our team!</p>
      <p>Dog-alicious is growing and in need of enthusiastic, reliable animal lovers for dog walking/pet sitting services. A 6 month commitment is required so that you can establish a solid relationship with both the owners & their pets. Background checks are ran and referrals will be called on.</p>
      <p>We offer part-time and full-time positions for people with availability M-F from 9:00 am -5:00 pm. Our pay is premium, individualized field training is provided, and our clients are awesome! Please fill out the form below if you are interested in joining our dedicated, experienced team of animal lovers.</p>
    </div>
    <div class="divider row text-center">
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="empFirstName">First Name</label>
          <input type="text" class="form-control" id="empFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-sm-6">
          <label for="empLastName">Last Name</label>
          <input type="text" class="form-control" id="empLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="empPhone">Phone Number</label>
          <input type="text" class="form-control bfh-phone" data-format="(ddd) ddd-dddd" id="empPhone" placeholder="Phone Number">
        </div>
        <div class="form-group col-sm-6">
          <label for="empEmail">Email Address</label>
          <input type="email" class="form-control" id="empEmail1"  placeholder="Enter Email">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="empNeighborhood">Chicago Neighborhood</label>
          <input type="text" class="form-control" id="empNeighborhood" placeholder="Chicago Neighborhood">
        </div>
        <div class="form-group col-sm-6">
          <label for="zip">Zip Code</label>
          <input type="text" class="form-control" id="zip">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="employed">Are you currently employed or a student?</label>
          <select class="form-control" id="employed">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Unemployed</option>
            <option>Student</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="transportation">What is your form of transportation?</label>
          <select class="form-control" id="transportation">
            <option>Insured Vehicle</option>
            <option>Bike</option>
            <option>Both</option>
            <option>Neither</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="availability">What days are you available between 10AM-4PM?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="mon" value="monday">Monday
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="tues" value="tuesday">Tuesday
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="wed" value="wed">Wednesday
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="thurs" value="thurs">Thursday
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="fri" value="fri">Friday
            </label>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="evenings">Are you available evenings?</label>
          <select class="form-control" id="evenings">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="weekends">Weekends?</label>
          <select class="form-control" id="weekends">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="commitment">How long can you commit to dog walking?</label>
          <select class="form-control" id="commitment">
            <option>3 months</option>
            <option>6 months</option>
            <option>1 year</option>
            <option>1+ years</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="hours">How many hours a week are you looking for?</label>
          <input type="text" class="form-control" id="hours" placeholder="Number of desired hours">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="employeeComments">Any additional comments?</label>
          <textarea class="form-control" id="textArea" rows="3"></textarea>
        </div>
      </div>
      <div class="form-row col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
