<!-- BANNER -->
<div class="faq-banner row hidden-xs">
  <div class="layer">
    <p class="banner-text">Frequently Asked Questions</p>
  </div>
</div>

<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#insured">Are you licensed or insured?</h3>
      <p id="insured" class="collapse">Dog-alicious is licensed to provide pet care services in the state of Illinois and holds a Chicago business license.  Our walkers have passed background checks and are bonded and insured to protect the safety of your pet as well as the security of your home.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#meet">Can I meet my pet’s walker before their first scheduled service?</h3>
      <p id="meet" class="collapse">Absolutely, we prefer that you do! During this initial meeting, Chelsea will introduce your walker to you and your pet. Typically you'll have the same walker for all of your reservations (especially if your walks are consistently the same time and day week by week) and we want to make sure that our walker will be the perfect fit for you and your pet. This meeting will also allow us to pick up keys, confirm billing and scheduling information, and answer any questions you may have.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#alone">Will my dog be walked alone or with other dogs?</h3>
      <p id="alone" class="collapse">We believe that one-on-one walks provide the most happiness and safety for your pup. We do  provide service to households with up to  2 dogs.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#how">How do I know my dog’s been walked?</h3>
      <p id="how" class="collapse">After each visit, your walker will communicate with you via text, e-mail, or note left in the apartment (whichever you prefer), summarizing your pup’s activities. We understand that our client’s have different needs so we adjust according to your individual preferences.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#other">What other services do you offer besides dog walks?</h3>
      <p id="other" class="collapse">30 mins. or 1 hour dog runs
      In home dog sitting
      Overnight dog sitting in a walker’s home
      Cat visits</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#minimum">What is your minimum number of scheduled weekly walks for new clients?</h3>
      <p id="minimum" class="collapse">Dog-alicious does not have a minimum walk requirement! We understand that not everyone’s schedule calls for that and we do our best to accommodate your requests based off of your needs not ours.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#schedule">How do I schedule services?</h3>
      <p id="schedule" class="collapse">In order to avoid a technology charge for our customers, we handle all of the scheduling through e-mail communication. Most of our clients have reoccurring daily walks that we reserve space for unless notified otherwise. If your schedules varies week-to-week, we just ask that you let us know when you need walks for the coming week by 7:00 pm on Sunday of said week.
      You can contact Chelsea directly for all of your scheduling requests via chelsea@dog-alicious.net.</p>
    </div>
    <div class="faq row">
      <h3 data-toggle="collapse" data-target="#billed">When am I billed and how do I pay?</h3>
      <p id="billed" class="collapse">You will be billed weekly for services rendered the prior week via e-mail. Payment options include:
      -Chase QuickPay
      -Personal check: leave for your walker to collect for deposit</p>
    </div>
  </div>
</div>
