<!-- BANNER -->
<div class="home-banner row hidden-xs">
  <div class="layer">
    <p class="banner-text">Dog-Alicious Dog Walking & Pet Sitting</p>
  </div>
</div>

<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <h3>Meet & Greet</h3>
        <p>We want to ensure that our walkers will be the perfect fit for you and your pet. During the initial meeting, walkers will get to know the personality of your animal and what makes up their optimal routine.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-paw" aria-hidden="true"></i>
        <h3>Walks</h3>
        <p>At Dog-alicious, we believe in one-on-one attention for your pup. Walkers arrive during your requested time frame, let your dog out for some excercise, and will finish the visit with playtime or a good old fashioned belly rub. Walkers will also refill your animal’s food and water as requested during their visit.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <h3>Follow-Up</h3>
        <p>We know how much you miss your animals when you're at work all day. According to your preferences, we can e-mail, text, or leave notes in your home on how the visit went and what was accomplished. Daily snapshots are also free of charge.</p>
      </div>
    </div>
    <div class="row text-center">
      <a href="#!services">
        <button type="button" class="btn btn-lg btn-primary">Learn More</button>
      </a>
    </div>
  </div>
</div>
<div class="connect">
  <div class="row">
    <h2 class="text-center">Connect With Us</h2>
  </div>
  <div class="row text-center">
    <a href="https://www.facebook.com/dogalicious"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/chidogalicious/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/104353501598527191506?hl=en"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="https://www.yelp.com/biz/dog-alicious-pet-care-chicago"><i class="fa fa-yelp" aria-hidden="true"></i></a>
  </div>
</div>
