<!-- BANNER -->
<div class="services-banner row hidden-xs">
  <div class="layer">
    <p class="banner-text">Dog-Alicious services</p>
  </div>
</div>

<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="row text-center">
      <h3>FREE Meet & Greet Consultation</h3>
      <p>An initial meeting will allow you to get to know your walker and our management. It is also an opportunity for you to give your walker any feeding, walking, building instructions. Feel free to also use this time to let your walker know how you wish to receive service updates-text, picture, e-mail, note, etc.</p>
    </div>
    <div class="row text-center">
      <a href="#!clients">
        <button type="button" class="btn btn-lg btn-primary">Contact Us</button>
      </a>
    </div>
    <div class="divider row text-center">
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
    <div class="service row">
      <div class="col-sm-4 hidden-xs">
        <img class="service-image" src="/images/dog-1087343_1920.jpg" alt="Dog Walk">
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <h3>Dog Walking</h3>
        <p>Your dog’s happiness is our happiness and our number one priority. Your dog will receive one-on-one attention while enjoying a walk personalized just for them, whether it's a half mile walk, play time at the dog park, or just an opportunity to explore. We arrange for the same walker to visit your pet each day in order to build a personal relationship. Our walkers also replenish water and food as requested in addition to sending activity updates to you the pet owner, regarding your dog’s accomplishments for that visit.</p>
        <button data-toggle="collapse" data-target="#walks" type="button" class="btn btn-lg btn-primary">Rates</button>
      </div>
    </div>
    <div id="walks" class="rates row collapse text-center">
      <div class="col-sm-6">
        <h4>30 minute walks - $15 each</h4>
        <ul class="list-unstyled">
          <li>Monday - Friday between 9am-5pm</li>
          <li>Minimum 3 walks per week</li>
          <li>2 walks per day also available</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>Additional Rates</h4>
        <ul class="list-unstyled">
          <li>Weekend rate +$5/walk</li>
          <li>Before 9am or after 5pm +$5/walk</li>
          <li>Holiday rate +$10/walk</li>
        </ul>
      </div>
    </div>
    <div class="service row">
      <div class="col-sm-7">
        <h3>Kitty Visits</h3>
        <p>Going out of town for a few days or more & need someone to keep your feline companion company? We got you covered! Our goal is to provide the same walker for all of your visits so they can build a relationship with your animal & ensure they're comfortable while you are away. Our cat care visits include food and water refreshment, tidying up their litter box, and playtime. Our walkers are also more than happy to send you updates on your cat's visits including pictures.</p>
        <button data-toggle="collapse" data-target="#visits" type="button" class="btn btn-lg btn-primary">Rates</button>
      </div>
      <div class="col-sm-4 col-sm-offset-1 hidden-xs">
        <img class="service-image" src="/images/cat-1368219_1920.jpg" alt="Cat Sit">
      </div>
    </div>
    <div id="visits" class="rates row collapse text-center">
      <div class="col-sm-6">
        <h4>30 minute visit - $15 each</h4>
        <ul class="list-unstyled">
          <li>Monday - Friday between 9am-5pm</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>Additional Rates</h4>
        <ul class="list-unstyled">
          <li>Weekend rate +$5/visit</li>
          <li>Before 9am or after 5pm +$5/visit</li>
          <li>Holiday rate +$10/visit</li>
        </ul>
      </div>
    </div>
    <div class="service row">
      <div class="col-sm-4 hidden-xs">
        <img class="service-image" src="/images/andrew-branch-126769.jpg" alt="Pet Sit">
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <h3>In-Home Pet Sitting</h3>
        <p>Are you leery to leave your dog at a boarding facility? Do you prefer to keep your pet’s routine as consistent as possible while you are traveling? It can be hard on your pup when you're away and our walkers will aim to keep their spirits and activity level up so you come home to happy well rested pet. Our walkers want you to feel at ease about being away so our walkers will send texts, emails, pictures-you name it-to make sure that you know your dog is being well taken care of and is happy.Walkers will feed and walk your dog to keep your animal’s current routine as best as possible. </p>
        <button data-toggle="collapse" data-target="#sitting" type="button" class="btn btn-lg btn-primary">Rates</button>
      </div>
    </div>
    <div id="sitting" class="rates row collapse text-center">
      <h4>$80/day</h4>
      <ul class="list-unstyled">
        <li>Holiday rate +$20/day</li>
      </ul>
    </div>
  </div>
</div>
