<!-- BANNER -->
<div class="team-banner row hidden-xs">
  <div class="layer">
    <p class="banner-text">Dog-Alicous Team</p>
  </div>
</div>

<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/william.png" alt="William">
      <h3>William</h3>
      <p>William is originally from Chicago and doesn't know why anyone would want to live anywhere else. When he isn't walking pups for Dog-alicious he is cheering for his Bears to beat the Packers! He is currently studying to be a web programmer when he isn't outside enjoying the city!</p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/jessica.png" alt="Jessica">
      <h3>Jessica</h3>
      <p>Jessica recently moved to Chicago, but is originally from the south suburb of Calumet City. She has always loved dogs, their constant unconditional love, and their ability to put a smile on anyone's face no matter what! Outside of dog walking, Jessica works as a school social worker and a high school badminton coach. She enjoys spending time with her family and friends, yoga, dining out, and spending time at her family's lake house. </p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/joana.png" alt="Joana">
      <h3>Joana</h3>
      <p>An avid exercise nut and staunch believer in 'a dog a day keeps the doctor away,' Joana can be found running around her beloved Wicker Park neighborhood. If she's not working out or playing with pups, she can be found hidden beneath a fort of blankets watching horror movies and happily cheating on her diet. Her favorite breeds of dogs are: "Every single dog in existence."</p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/lily.png" alt="Lily">
      <h3>Lily</h3>
      <p>Lily is a Chicago native who was raised alongside a parakeet, eight chickens, countless Guinea pigs, and of course three dogs. She loves big breeds, with a special soft spot for Labradors. When she doesn't have a leash in her hand, you can catch her in a myriad of performance venues around Chicago. Between dog walking and dancing, she's always on the go!</p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/judith.png" alt="Judith">
      <h3>Judith</h3>
      <p>Judith is from Mexico, she is a lifelong dog lover and a graphic designer freelancer. Loves travel and creativity in all their expressions. She is currently living with her cat and siblings. A cyclist powered by beer and tacos. You can find her adventures with her pups on @dogsittingdiaries</p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/doug.png" alt="Doug">
      <h3>Doug</h3>
      <p>When he's not busy trying to write the next great web series or filming sketch comedy with friends you can either find Doug out biking and enjoying the weather or inside snuggled up with a cat. He hopes that one day cats and dogs will put aside their differences and live together in perfect harmony.</p>
    </div>
    <div class="team-member col-md-4 col-sm-6 col-xs-12">
      <img class="team-image" src="/images/terra.png" alt="Terra">
      <h3>Terra</h3>
      <p>A Rogers Park native, Terra has lived all over the city. She's currently pursuing her MA in Anthropology at UIC. She grew up with cats, and now shares her home with a pit bull rescue named Oscar who loves other dogs as much as she does. She can often be found at the beach or going camping in the summer, and at home binging on video games in the winter. Her lifelong goal is a fully stamped passport book.</p>
    </div>
  </div>
</div>
