* {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Montserrat', sans-serif;
}
a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */

// MIXINS
@mixin banner {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: double;
  border-color: #EEEEEE;
  border-width: thick;
}
@mixin shadow {
  -moz-box-shadow: 0 0 10px #D3D3D3;
  -webkit-box-shadow: 0 0 10px #D3D3D3;
  box-shadow: 0 0 10px #D3D3D3;
}

// NAVIGATION
.logo {
  width: 20%;
  height: auto;
}
.nav {
  font-size: 150%;
  padding-top: 50px;
}
.icon-bar {
  background-color: gray;
}

// BANNERS
.layer {
  height: 100%;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.7);
}
.banner-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 350%;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 3em 1em 0 1em;
}

// CONTENT
.content {
  // background-color: #A9DEF3;
  background-color: rgba(100, 183, 255, 0.3);
  padding: 20px 0;
}
.btn {
  margin-top: 1em;
}

// FOOTER
.footer {
  padding: 3% 10%;
  background-color: gray;
  color: black;
}

// HOME PAGE
.home-banner {
  @include banner;
  background-image: url(/images/anita-peeples-35219.jpg);
}
i.fa {
  font-size: 5em;
  margin: .5em .5em 0 .5em;
}
.connect {
  padding: 2em;
  background-color: rgba(228, 228, 228, 0.7);
  i.fa {
    margin: .75em;
    color: black;
  }
}

// SERVICES PAGE
.services-banner {
  @include banner;
  background-image: url(/images/mpho-mojapelo-173231.jpg);
}
.divider {
  padding: 5%;
  i.fa {
    font-size: .5em;
  }
}
.service-image {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 20%;
  border-color: white;
  border-style: solid;
  border-width: 10px;
}
.rates {
  padding: 5% 0;
}

// CLIENT PAGE
.client-banner {
  @include banner;
  background-image: url(/images/justin-veenema-147056.jpg);
}

// TEAM PAGE
.team-banner {
  @include banner;
  background-image: url(/images/nidhin-mundackal-281287.jpg);
}
.team-image {
  border-radius: 10%;
}

.team-member {
  padding-top: 20px;
  height: 550px;
}

// EMPLOYMENT
.employment-banner {
  @include banner;
  background-image: url(/images/mike-burke-63930.jpg);
}

// FAQ
.faq-banner {
  @include banner;
  background-image: url(/images/robert-larsson-64550.jpg);
}
.faq {
  @include shadow;
  margin-bottom: 3%;
  background: white;
  padding: 0 4%;
}
